<nav>
	<a class="link" href="/">
		<div class="monogram">MM</div>
	</a>
	<a class="link" href="/projects/"> All Posts</a>
	<a class="link hideme" href="/portfolio/"> Photography</a>
	<a class="link" href="/about/"> About</a>
	<div class="socials">
		<a class="social" href="mailto:mail@maiermanuel.de">
		<svg class="socialIcon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve">
<g id="Layer_80">
	<g>
		<circle cx="24" cy="23.998" r="24"/>
		<g>
			<path style="fill:#FFFFFF;" d="M37.041,19.099c-0.047-0.038-0.09-0.054-0.133-0.072v-7.505c0-0.219-0.176-0.397-0.387-0.397
				h-9.578c-0.025-0.028-0.043-0.056-0.08-0.086l-2.369-1.875c-0.273-0.217-0.719-0.217-0.992,0l-2.367,1.875
				c-0.039,0.03-0.057,0.058-0.08,0.086h-9.56c-0.211,0-0.385,0.178-0.385,0.397v7.497c-0.049,0.016-0.098,0.038-0.152,0.08
				l-1.463,1.158C9.223,20.472,9,20.938,9,21.291v17.066C9,38.711,9.281,39,9.623,39h28.75C38.719,39,39,38.711,39,38.357V21.291
				c0-0.353-0.223-0.819-0.496-1.035L37.041,19.099z M34.846,23.839c0,0.219-0.152,0.482-0.34,0.584l-10.16,5.62
				c-0.185,0.102-0.492,0.102-0.678,0l-10.158-5.62c-0.186-0.102-0.338-0.365-0.338-0.584V13.226c0-0.219,0.172-0.397,0.383-0.397
				h20.904c0.211,0,0.387,0.178,0.387,0.397V23.839z"/>
			<rect x="15.473" y="16.225" style="fill:#FFFFFF;" width="6" height="6.167"/>
			<rect x="23.209" y="16.225" style="fill:#FFFFFF;" width="10.158" height="1.137"/>
			<rect x="23.209" y="18.538" style="fill:#FFFFFF;" width="10.158" height="1.136"/>
			<rect x="23.209" y="20.85" style="fill:#FFFFFF;" width="4.148" height="1.138"/>
		</g>
	</g>
</g>
<g id="Layer_1">
</g>
</svg>
		</a>
		<a class="social" href="https://www.linkedin.com/in/manuel-maier-778345200/?locale=en_US" target="_blank" rel="noopener noreferrer">
		<svg class="socialIcon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve">
<g id="Layer_131">
	<g>
		<circle cx="24" cy="24" r="24.001"/>
		<g>
			<rect x="9" y="19" style="fill:#FFFFFF;" width="7" height="20"/>
			<circle style="fill:#FFFFFF;" cx="12.5" cy="12.5" r="3.5"/>
			<path style="fill:#FFFFFF;" d="M39,28.009C39,22.612,37.836,19,31.545,19c-3.023,0-5.053,1.123-5.883,2.699h-0.086V19H20v20
				h5.828v-9.913c0-2.614,0.494-5.145,3.728-5.145c3.186,0,3.443,2.989,3.443,5.314V39h6V28.009z"/>
		</g>
	</g>
</g>
<g id="Layer_1">
</g>
</svg>
		</a>
		<a class="social" href="https://github.com/m4i3r" target="_blank" rel="noopener noreferrer">
			<svg class="socialIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
				<path
					d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
				></path>
			</svg>
		</a>
		<a class="social" href="https://me.maiermanuel.website" target="_blank" rel="noopener noreferrer">
			<svg class="socialIcon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve">
<g id="Layer_98">
	<g>
		<circle cx="24" cy="23.998" r="24"/>
		<g>
			<path style="fill:#FFFFFF;" d="M13.293,30.291c1.301,0,2.477-0.486,3.398-1.265l10.75,5.375
				c-0.008,0.102-0.031,0.196-0.031,0.302c0,2.927,2.367,5.297,5.295,5.297C35.629,40,38,37.63,38,34.703
				c0-2.925-2.371-5.294-5.295-5.294c-1.301,0-2.478,0.486-3.398,1.266L18.559,25.3c0.004-0.102,0.027-0.197,0.027-0.3
				c0-0.105-0.023-0.202-0.027-0.305l10.748-5.378c0.92,0.779,2.096,1.269,3.398,1.269c2.924,0,5.295-2.369,5.295-5.296
				C38,12.368,35.629,10,32.705,10c-2.928,0-5.295,2.368-5.295,5.291c0,0.105,0.023,0.202,0.031,0.304l-10.75,5.374
				c-0.922-0.778-2.098-1.267-3.398-1.267C10.369,19.702,8,22.073,8,25C8,27.923,10.369,30.291,13.293,30.291z"/>
		</g>
	</g>
</g>
<g id="Layer_1">
</g>
</svg>
		</a>
	</div>
</nav>

<style>
	nav {
		display: flex;
		gap: 1rem;
		align-items: center;
		padding: 1rem;
	}

	.link {
		color: var(--t-subdue);
		display: block;
		text-decoration: none;
		font-size: var(--f-d1);
		text-transform: uppercase;
		padding-top: 0.75em;
		padding-bottom: 0.75em;
	}

	.link:hover,
	.link:focus {
		color: var(--t-active);
	}

	.monogram {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 2em;
		height: 2em;
		margin-right: 0.5rem;
		color: var(--c-black);
		font-weight: 900;
		letter-spacing: -0.125rem;
		border: 3px solid currentColor;
		border-radius: 50%;
	}

	.socials {
		display: flex;
		gap: 0.75em;
		margin-left: auto;
	}

	.social {
		display: block;
	}

	.socialIcon {
		display: block;
		width: 1.25rem;
		height: 1.25rem;
		fill: var(--t-subdue);
		transition: fill linear 150ms;
	}

	.socialIcon:hover {
		fill: var(--t-active);
	}

	@media (max-width: 500px) {
		.hideme {
			display: none;
		}
	}
</style>
